<div [hidden]="loading">
  <div class="m-content">
    <!--Begin::Section-->
    <div class="m-portlet">
      <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding">
          <div class="m--padding-30 m--font-normal m--block-center m--align-center">
            <h3 class="m-widget14__title">
              New Crypto Loan
            </h3>
            <span class="m-widget14__desc">
              Please note that all loans are denominated in US Dollars
            </span>
          </div>
        </div>
        <div class="row m-row--no-padding">
          <div class="col-xl-12">
            <div class="m-portlet">
              <div class="m-portlet__body">
                <div class="m--block-center m--align-center">
                  <!--begin::Form-->
                  <form class="m-form m-form--fit">
                    <div class="m-portlet__body">
                      <div class="form-group m-form__group row m--padding-20">
                        <div class="col-xl-5 col-md-5 col-sm-5 m--padding-bottom-20">
                          <div class="m--align-left pull-left m--font-bold"
                            style="font-size: 15.6px; margin: 0px 0px 6.5px;">
                            Equivalent in Local Currency
                          </div>
                          <div class="input-group m-input-icon m-input-icon--left">
                            <input type="text" class="form-control form-control-lg m-input m-input--air"
                              placeholder="1,000" [(ngModel)]="fiatAmount" #fiat="ngModel" name="fiat"
                              (keyup)="searchFiat(fiatAmount)" />
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span class="m--font-bold" style="padding-top: 14px; font-size: 1.3rem;">
                                &#36;&nbsp;
                              </span>
                            </span>
                            <div class="input-group-append">
                              <button type="button" class="btn btn-lg btn-outline-info" aria-haspopup="true"
                                aria-expanded="false">
                                <span>USD</span>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="col-xl-2 col-md-2 col-sm-2">
                          <div class="m--align-center m--block-center m--clearfix icon-padded">
                            <!--  <i class="flaticon-more-v4" style="font-size: 2.3rem"></i> -->
                          </div>
                        </div>

                        <div class="col-xl-5 col-md-5">
                          <div class="m--align-left pull-left m--font-bold"
                            style="font-size: 15.6px; margin: 0px 0px 6.5px;">
                            {{ cryptoTypeName }} Collateral Amount
                          </div>
                          <div class="m--align-right pull-right m--font-bold"
                            style="font-size: 15.6px; margin: 0px 0px 6.5px;">
                            <span *ngIf="cryptoCurrency == 'BTC'; else eth">
                              <i class="fa fa-btc m--font-warning"></i>&nbsp;{{
                                cryptoBalance | number: "1.0-6"
                              }}
                            </span>
                            <ng-template #eth>
                              <i class="fab fa-ethereum m--font-primary"></i>&nbsp;{{ cryptoBalance | number: "1.0-6" }}
                            </ng-template>
                          </div>
                          <div class="input-group m-input-icon m-input-icon--left">
                            <input type="number" class="form-control form-control-lg m-input m-input--air"
                              placeholder="1" [(ngModel)]="cryptoAmount" #crypto="ngModel" name="crypto"
                              (keyup)="searchCrypto(cryptoAmount)" />
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                <i class="{{ cryptoCurrencyClass }}"></i>
                              </span>
                            </span>
                            <div class="input-group-append">
                              <button type="button" class="btn btn-lg btn-outline-info dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>{{ cryptoCurrency }}</span>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="switchCryptoCurrency('BTC')">
                                  <i class="fa fa-btc"></i>
                                  Bitcoin
                                </a>
                                <a class="dropdown-item" (click)="switchCryptoCurrency('ETH')">
                                  <i class="fab fa-ethereum"></i>
                                  Ethereum
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row m--padding-10">
                        <div class="col-md-12 m--block-center m--align-center">
                          <label style="font-size: 1.4rem; font-weight: 600;">
                            Loan Duration
                          </label>
                          <p class="m--font-bold">
                            {{ monthlyInterestRates | percent: "1.0-2" }} in
                            {{ ionSliderValue }} month
                            <button mat-icon-button aria-label="payment duration information"
                              matTooltip="Total amount of interest to be paid for the loan duration">
                              <mat-icon fontSet="far" fontIcon="fa-question-circle"></mat-icon>
                            </button>
                          </p>
                        </div>
                        <div class="col-xl-12">
                          <div class="m--align-center m--block-center m--padding-10">
                            <ngx-slider [(value)]="minSliderValue" [options]="options"
                              (userChange)="sliderChangeEvent($event)"></ngx-slider>
                          </div>
                        </div>
                        <div class="col-md-12 m--padding-top-40">
                          <div class="m--block-center m--align-center">
                            <label style="font-size: 1.2rem; font-weight: 500;">
                              Total Repayments
                            </label>
                            <h1 class="m--font-info m--font-bold m--padding-top-10" style="font-weight: 600;">
                              {{
                                actualLoanValue
                                  | currency: "USD":"symbol":"1.0-2"
                              }}
                            </h1>
                            <h5 class="m--font-info m--font-thin">
                              ({{
                                actualLoanLocalCurrencyValue
                                  | currency: currency:"symbol":"1.0-0"
                              }})
                            </h5>
                          </div>
                        </div>
                        <div class="row m--align-center m--block-center">
                          <div class="col m--padding-15">
                            <div class="m--align-center m--font-secondary m--font-bold"
                              style="font-size: 15.6px; margin: 0px 0px 6.5px;">
                              Select Local Currency
                            </div>
                            <div class="input-group m-input-group--square" style="padding-left: 4rem;">
                              <div class="input-group-append">
                                <button type="button" class="btn btn-md btn-outline-info dropdown-toggle"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span>{{ currency }}</span>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" (click)="switchCurrency('USD')">
                                    <span>&#36; USD</span>
                                  </a>
                                  <a class="dropdown-item" (click)="switchCurrency('NGN')">
                                    <span>&#8358; NAIRA</span>
                                  </a>
                                  <a class="dropdown-item" (click)="switchCurrency('GHS')">
                                    <span>&#8373; GHS</span>
                                  </a>
                                  <a class="dropdown-item" (click)="switchCurrency('KES')">
                                    <span>KES SHILLING</span>
                                  </a>
                                </div>
                              </div>
                              <button mat-icon-button aria-label="payment duration information"
                                matTooltip="The local currency in which your principal will be paid into your bank account">
                                <mat-icon fontSet="far" fontIcon="fa-question-circle"></mat-icon>
                              </button>
                            </div>
                            <div class="m--align-center m--font-secondary"
                              style="font-size: 1rem; padding-top: 1.2rem;">
                              You will receive
                              <span class="m--font-bolder">
                                {{ currency
                                }}{{
                                  fiatLocalCurrencyAmount | number: "1.0-0"
                                }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 m--padding-20">
                          <div class="m-form__actions">
                            <button type="button" class="btn m-btn btn-info btn-lg m-btn--air m-btn--pill"
                              (click)="onSubmitLoan()" [ngClass]="{
                                'm-loader': validateButtonSpinner,
                                'm-loader--light': validateButtonSpinner,
                                'm-loader--right': validateButtonSpinner
                              }" [disabled]="validateButtonSpinner">
                              Request Loan
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!--end::Form-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Begin crypto wallet Modal-->
        <app-crypto-deposit [currency]="currency" [cryptoCurrency]="cryptoCurrency"
          [extraCryptoAmount]="extraCryptoAmount" [fiatLocalCurrencyAmount]="fiatLocalCurrencyAmount"
          [fiatAmount]="fiatAmount" [actualLoanLocalCurrencyValue]="actualLoanLocalCurrencyValue"
          [cryptoRate]="cryptoRate" [userDetails]="userDetails" [rates]="rates" [duration]="ionSliderValue"
          [cryptoTypeName]="cryptoTypeName" [$MAX_WITHOUT_VERIFICATION]="$MAX_WITHOUT_VERIFICATION"
          [wallet]="walletObject" (validateButtonSpinner)="setSubmitButtonSpinner($event)"></app-crypto-deposit>
        <!-- End crypto wallet modal-->

        <!-- Begin new bank Modal-->
        <app-bank-details [currency]="currency" [country]="userCountry" [name]="userDetails?.name"
          (bankStatus)="bankUpdateStatus($event)"></app-bank-details>
        <!-- End new bank Modal-->
      </div>
    </div>
  </div>
</div>
<div class="loaded" [hidden]="!loading">
  <div class="m-spinner m-spinner--info m-spinner--lg"></div>
</div>
