
.m-portlet .m-portlet__body {
  padding: 0.6rem 0.5rem;
}
.row.m-row--no-padding > div {
    padding-left: 40;
    padding-right: 0;
}
.m-widget1 .m-widget1__item .m-widget1__number {
    font-size: 1.2rem;
    font-weight: 400;
}

.m-widget1 .m-widget1__item .m-widget1__title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
}

.right {
    position: absolute;
    right: 0px;
    width: 75px;
    padding: 10px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
}

.m-portlet {
  border-radius: 20px 15px
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.25);
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.25);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.25);
  border-radius: 10px 10px;
}


