<mat-accordion *ngFor="let loan of unpaidLoan">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        <span style="padding-top: 0.15rem; padding-right: 0.4rem">
                            <i class="la la-circle m--font-danger"></i>
                        </span>
                        {{loan?.amount * rates | currency:loan?.currency: 'symbol': '1.0-0' }}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row m--font-normal">
                        <div class="col-md-12 col-sm-12 m--font-normal">
                          <div class="m-widget1 m-widget1--paddingless">
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h3 class="m-widget1__title">
                                    Unpaid Balance
                                  </h3>
                                </div>
                                <div class="col m--align-right">
                                  <span class="m-widget1__number m--font-danger">
                                    {{(loan?.interestAmount - loan.paidBack) * rates | currency:loan?.currency: 'symbol': '1.0-0'}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                  <div class="col">
                                    <h3 class="m-widget1__title">
                                      Amount Paid
                                    </h3>
                                  </div>
                                  <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                      {{(loan?.paidBack) * rates | currency:loan?.currency: 'symbol': '1.0-0'}}
                                    </span>
                                  </div>
                                </div>
                            </div>
                            <div class="m-widget1__item" *ngIf="loan.marketPrice">
                                <div class="row m-row--no-padding align-items-center">
                                  <div class="col">
                                    <h3 class="m-widget1__title">
                                      Market Price
                                    </h3>
                                  </div>
                                  <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-normal">
                                      {{loan?.marketPrice | currency:loan?.currency: 'symbol': '1.0-2'}}
                                    </span>
                                  </div>
                                </div>
                            </div>
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h3 class="m-widget1__title">
                                    Held Bitcoin
                                  </h3>
                                </div>
                                <div class="col m--align-right">
                                  <span class="m-widget1__number m--font-danger">
                                    {{loan.heldCrypto}}btc
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h3 class="m-widget1__title">
                                    Loan limit
                                  </h3>
                                </div>
                                <div class="col right">
                                  <mat-progress-spinner mode="determinate" [value]="loan.limit" [color]="loan.color" diameter="25"></mat-progress-spinner>
                                </div>
                                <div class="col m--align-right" style="padding-left: 60px">
                                    <span class="m--font-normal m--font-normal">
                                        {{loan.limit}}%
                                    </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h3 class="m-widget1__title">
                                    Due
                                  </h3>
                                </div>
                                <div class="col m--align-right">
                                  <span class="m-widget1__number m--font-normal">
                                    {{convertDate(loan?.expires_at)}}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="m--padding-20">
                                <div class="form-group">
                                    <label>Amount to Pay:</label>
                                    <input type="text" class="form-control m-input m-input--air m-input--pill" #amount (input)="metaDetail(loan, amount.value)" (keyup)="maxAmount(amount.value, loan)">
                                </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 offset-4">
                            <app-rave-pay
                            [text]="'Pay now'"
                            [className]="'btn btn-air btn-info'"
                            (callback)="confirmPayment($event)"
                            (close)="cancelledPayment()"
                            [key]="id"
                            [reference]="txRef"
                            [amount]="payBackAmount"
                            [email]="userDetails.email"
                            [country]="userCountry"
                            [currency]="loan.currency"
                            [customer_firstname]="userDetails.name"
                            [lock]="raveButtonStatus"
                            [meta]="metaData"
                            ></app-rave-pay>
                          </div>
                        </div>
                    </div>

                  </mat-expansion-panel>
                </mat-accordion>








<span class="m--font-warning m--padding-right-5 m--padding-top-25">
                            <i class="fab fa-bitcoin" style="font-size: 2rem"></i>
                          </span>
                          <span class="m--padding-top-20">
                              <ul style="list-style-type:none; padding-inline-start: 5px">
                                  <li style="font-size: 1rem; font-weight: bold">BTC</li>
                                  <li style="font-size: 0.8rem">Bitcoin</li>
                              </ul>
                          </span>
