/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';


body {
  margin: 0;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 50%;
  /* text-align: center */
}

.mdl-button--raised.mdl-button--colored {
  background: #65D4FF;
  color: #fff;
}

.mdl-button--primary.mdl-button--primary {
  color: #3f72b5;
}

.firebaseui-idp-password {
  background-color: #65D4FF !important;
}
