/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';


body {
  margin: 0;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 50%;
  /* text-align: center */
}
