@media only screen and (min-width: 840px) {
  #footer {
    position: absolute;
    bottom: 0;
    max-width: fit-content;
    /* Footer height */
  }
}

@media only screen and (max-width: 840px) {
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    /* Footer height */
  }
}
